certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy<2.0
opencv-python>=4.5.0,<4.10.0
packaging
pandas
pillow
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
six
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
